@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #222;
  --text-cards: #ebebeb;
  --bk-primary: #fff;
  --bk-header: #eaeaea;
  --bk-cards: #050505;
  --bk-hover: #ccc;
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  --bk-theme: #222;
  --fw-light: 300;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --color-gradient: 90deg, #222 0%, #666 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", "Consolas", monospace;
  color: var(--text-primary);
  background-color: var(--bk-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: var(--bk-header);
  padding: 19px 0;
}

.header__nav {
  display: flex;
  position: relative;
  align-items: center;
}

.header__burger {
  display: none;
  border: none;
  background-color: var(--bk-header);
  border-radius: 5px;
  font-size: 32px;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 0;
  margin-left: auto;
  font-weight: var(--fw-extrabold);
  gap: 50px;
}

.header__link {
  text-decoration: none;
  color: var(--text-primary);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.main {
  display: flex;
  text-align: center;
}

.main__avatar {
  max-width: 300px;
  margin-top: 80px;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 2px solid #333;
}

.main__title {
  font-size: 40px;
  text-align: center;
}

.main__desc {
  font-size: 35px;
}

.main__stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px auto 0;
  max-width: 400px;
}

.main__item {
  display: flex;
  font-size: 15px;
  font-weight: var(--fw-extrabold);
  align-items: center;
  padding: 7px 6px;
  border-radius: 5px;
  background-color: #eaeaea;
  transition: background-color 0.3s ease;
  color: #222;
  cursor: default;
}

.main__item:hover {
  background-color: var(--bk-hover);
}

.main__stack-text {
  margin-left: 5px;
}

.main__icon {
  max-height: 20px;
}

.main__others {
  font-size: 18px;
  color: var(--text-primary);
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.main__others:hover {
  opacity: 1;
  border-bottom: 1px dashed #222;
}

.projects__title {
  display: flex;
  margin: 50px auto 30px auto;
  max-width: 150px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 35px;
  cursor: default;

  background: linear-gradient(var(--color-gradient));

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.projects__title:hover {
  opacity: 0.8;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.projects__item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.projects__item:hover {
  transform: scale(1.05);
}

.projects__preview {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.projects__info-wrapper {
  position: absolute;
  text-align: left;
  bottom: 0;
  background-color: rgba(5, 5, 5, 0.7);
  color: var(--text-cards);
  width: 100%;
}

.projects__info {
  font-size: 15px;
  font-weight: var(--fw-extrabold);
  max-width: 200px;
  padding: 5px;
}

.projects__info-text {
  font-weight: var(--fw-light);
  font-size: 13px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.projects__info-text:hover {
  opacity: 0.7;
}

.footer {
  background: var(--bk-header);
  margin-top: 100px;
  padding: 50px 0;
}

.footer__list {
  display: flex;
  gap: 10px;
}

.footer__item {
  flex-direction: row;
  max-width: 40px;
  margin-top: 5px;
}

.toggle {
  background-color: var(--bk-theme);
  position: fixed;
  bottom: 20px;
  border-radius: 25px;
  right: 20px;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.dialog {
  margin: auto;
  min-width: 600px;
  min-height: 200px;
  color: var(--text-primary);
  background-color: var(--bk-header);
  border: none;
  outline: none;
}

.dialog__wrapper {
  padding: 20px;
}

.dialog__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.dialog__desc {
  font-size: 20px;
  margin-bottom: 50px;
}

.dialog__link {
  position: absolute;
  text-decoration: none;
  color: var(--text-primary);
  bottom: 10px;
  border: 1px solid black;
  opacity: 1;
  padding: 5px;
  transition: opacity 0.3s ease;
}

.dialog__link:hover {
  opacity: 0.85;
}

.dialog__close {
  position: absolute;
  top: 0;
  right: 10px;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dclose {
  font-size: 35px;
}

#dclose,
#theme {
  cursor: pointer;
}

#githubw {
  display: none;
}

:root[data-theme="dark"] {
  --bk-header: #222222;
  --bk-primary: #161616;
  --text-primary: #fff;
  --bk-theme: #fff;
  --box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
  --color-gradient: 90deg, #fff 0%, #666 100%;
}

body:has(.dialog:modal) {
  overflow: hidden;
}

@keyframes sliderRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 960px) {
  body > :not(.header, .toggle) {
    padding: 0 25px;
  }

  .header__nav {
    padding: 0 20px;
  }

  .projects__list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header__list {
    display: block;
    position: absolute;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    top: 50px;
    right: 20px;
    border-radius: 5px;
    background-color: var(--bk-header);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .header__list.active {
    animation: sliderRight 0.3s ease-out forwards;
    opacity: 1;
  }

  .header__burger {
    display: block;
    position: absolute;
    color: var(--text-primary);
    padding: 5px;
    right: 40px;
  }
}
