@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #222;
  --text-cards: #ebebeb;
  --bk-primary: #fff;
  --bk-header: rgba(234, 234, 234, 0.7);
  --bk-cards: #050505;
  --bk-hover: #ccc;
  --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  --bk-theme: #222;
  --fw-light: 300;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --color-gradient: 90deg, #222 0%, #666 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", "Consolas", monospace;
  color: var(--text-primary);
  background-color: var(--bk-primary);
  line-height: 1.5;
  font-size: 1.6rem;
  transition: 0.3s;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header__nav {
  background-color: var(--bk-header);
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__burger {
  display: none;
  border: none;
  border-radius: 5px;
  font-size: 3rem;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 0;
  margin-left: auto;
  font-weight: var(--fw-extrabold);
  gap: 3rem;
}

.header__link {
  text-decoration: none;
  color: var(--text-primary);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.main__avatar {
  max-width: 30rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  border: 2px solid #333;
}

.main__info {
  max-width: 60rem;
}

.main__title {
  font-size: 4.5rem;
  line-height: 1.2;
}

.main__desc {
  font-size: 3rem;
}

.main__stack {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 35rem;
  margin: 1rem auto;
  gap: 1rem;
}

.main__item {
  display: flex;
  font-weight: var(--fw-extrabold);
  align-items: center;
  padding: 0.7rem 0.6rem;
  border-radius: 5px;
  background-color: #eaeaea;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  color: #222;
  cursor: default;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 5rem;
  width: 100%;
}

.main__item:hover {
  background-color: var(--bk-hover);
  transform: translateY(-2px);
}

.main__stack-text {
  margin-left: 0.5rem;
}

.main__icon {
  max-height: 2rem;
}

.main__others {
  font-size: 1.8rem;
  color: var(--text-primary);
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.main__others:hover {
  opacity: 1;
  border-bottom: 1px dashed #222;
}

.projects__container {
  text-align: center;
}

.projects__title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 120rem;
  gap: 2rem;
}

.projects__elem {
  max-width: 35rem;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  min-height: 50rem;
  text-align: left;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.projects__box {
  padding: 1rem;
}

.projects__image-box {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(5, 5, 5, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

.projects__elem:hover .projects__overlay {
  opacity: 1;
  visibility: visible;
}

.projects__elem:hover {
  transform: scale(1.05);
}

.projects__img {
  width: 100%;
  max-height: 21rem;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid black;
}

.projects__link {
  min-width: 4rem;
}

.projects__icon {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}

.projects__subtitle {
  font-size: 25px;
  line-height: 1.2;
}

.projects__desc {
  font-size: 18px;
}

.projects__stack {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.projects__stack-icon {
  display: flex;
  max-width: 2.5rem;
  margin-right: 5px;
}

.projects__stack-elem {
  display: flex;
  font-weight: var(--fw-extrabold);
  align-items: center;
  padding: 0.7rem 0.6rem;
  border-radius: 5px;
  background-color: #eaeaea;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  color: #222;
  cursor: default;
}

.projects__stack-elem:hover {
  transform: translateY(-2px);
}

.footer {
  background: var(--bk-header);
  margin-top: 10rem;
  padding: 5rem 0;
}

.footer__list {
  display: flex;
  gap: 1rem;
}

.footer__item {
  min-width: 4rem;
  margin-top: 0.5rem;
}

.toggle {
  background-color: var(--bk-theme);
  position: fixed;
  bottom: 2rem;
  border-radius: 20px;
  right: 2rem;
  margin-left: 1rem;
  text-align: center;
  font-size: 3rem;
}

.toggle__items {
  width: 100%;
  line-height: 1.2;
  padding: 0.5rem;
}

.dialog {
  margin: auto;
  min-width: 600px;
  min-height: 200px;
  color: var(--text-primary);
  background-color: var(--bk-header);
  border: none;
  outline: none;
}

.dialog__wrapper {
  padding: 2rem;
}

.dialog__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.dialog__desc {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.dialog__link {
  position: absolute;
  text-decoration: none;
  color: var(--text-primary);
  bottom: 1rem;
  border: 1px solid black;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 0.3s ease;
}

.dialog__link:hover {
  opacity: 0.85;
}

.dialog__close {
  position: absolute;
  top: 0;
  right: 1rem;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dclose {
  font-size: 3.5rem;
}

#dclose,
#theme {
  cursor: pointer;
}

#githubw {
  display: none;
}

[data-theme="dark"] {
  --bk-header: rgba(34, 34, 34, 0.7);
  --bk-primary: #161616;
  --text-primary: #fff;
  --bk-theme: #fff;
  --box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
  --color-gradient: 90deg, #fff 0%, #666 100%;
}

#logo,
#tg,
#github {
  transition: filter 0.3s ease;
}

[data-theme="dark"] #logo,
[data-theme="dark"] #tg,
[data-theme="dark"] #github {
  filter: invert(1);
}

body:has(.dialog:modal) {
  overflow: hidden;
}

@keyframes sliderRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .projects__overlay {
    position: inherit;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
  }

  .projects__elem:hover {
    transform: none;
  }

  .projects__icon {
    background-color: rgba(245, 245, 245, 1);
  }
}

@media (max-width: 768px) {
  .header__list {
    display: block;
    position: absolute;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    top: 5rem;
    right: 2rem;
    border-radius: 5px;
    background-color: var(--bk-header);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .header__list.active {
    animation: sliderRight 0.3s ease-out;
    opacity: 1;
  }

  .header__burger {
    display: block;
    position: absolute;
    color: var(--text-primary);
    background-color: transparent;
    right: 4rem;
  }
}
