@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #fff;
  --accent: #726e97;
  --bk-main: #05060d;
  --bk-header: rgba(6, 7, 14, 0.8);
  --bk-card: #0d0e17;
  --bk-glow: #008080;
  --bk-accent: 66, 163, 253;
  --fz-h2: 5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--bk-main);
  color: var(--color-primary);
}

body > :not(.header) {
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.glow {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background: transparent;
  visibility: hidden;

  box-shadow: 0 0 20rem 10rem var(--bk-glow);
}

.glow-one {
  visibility: visible;
  left: 20rem;
}

.glow-two {
  visibility: visible;
  right: 20rem;
}

.header {
  background-color: var(--bk-header);
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;

  &__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 800;
  }

  &__burger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-primary);
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 10px;
    color: var(--color-primary);
  }

  &__link {
    font-size: 1.5rem;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    letter-spacing: 0.5px;
    padding: 5px 10px;

    &:hover {
      opacity: 1;
    }
  }

  &__switcher {
    font-size: 1.6rem;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    margin-left: 10px;
    color: var(--color-primary);
    background: none;
    border: none;

    &:hover {
      opacity: 1;
    }
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    max-width: 50rem;

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      box-shadow: 0 0 20rem 10rem var(--bk-glow);
      pointer-events: none;
    }
  }

  &__spec {
    opacity: 0.8;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 300;
    transition: opacity 0.3s ease;
    margin-bottom: 0.8rem;
    animation: fadeIn 1s ease-out forwards;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 8rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    opacity: 0.8;
  }

  &__avatar {
    max-width: 400px;
    border-radius: 50%;
    margin-left: auto;
    box-shadow: 0 2rem 5rem 0 var(--bk-glow);
    pointer-events: none;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__btn {
    display: inline-block;
    font-size: 1.4rem;
    border: none;
    background: var(--accent);
    text-align: center;
    padding: 16px 20px;
    border-radius: 99px;
    letter-spacing: 1px;
    color: var(--color-primary);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__contactbtn {
    display: inline-block;
    font-size: 1.4rem;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 99px;
    color: var(--color-primary);
    letter-spacing: 1px;

    scale: 1;
    transition: border 0.3s ease;
    margin-right: 15px;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.8);
    }
  }

  &__scroll {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}

.skill {
  &__title {
    display: flex;
    justify-content: center;
    font-size: var(--fz-h2);
    position: relative;
    animation: zoomIn 0.4s ease-out forwards;

    &::after {
      position: absolute;
      content: "";
      width: 5rem;
      height: 5px;
      border-radius: 5px;
      bottom: -1rem;
      background: var(--accent);
    }

    &::before {
      position: absolute;
      content: "";
      bottom: -8rem;
      z-index: -1;
      box-shadow: 0 0 20rem 10rem var(--bk-glow);
      pointer-events: none;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }

  &__list {
    padding: 32px;
    border: 2px solid rgba(var(--bk-accent), 0.2);
    background-color: var(--bk-card);
    gap: 5px;
    border-radius: 1.5rem;
    flex: 1 1 calc(50% - 1rem);
    min-width: 260px;
  }

  &__subtitle {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;

    span {
      width: 6px;
      height: 6px;
      background: rgba(var(--bk-accent), 1);
      border-radius: 99px;
    }
  }

  &__sheets {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    font-size: 1.4rem;
  }

  &__elem {
    padding: 6px 12px;
    background: var(--bk-main);
    border-radius: 99px;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.6);
    transition: border 0.3s ease-out;

    &:hover {
      border: 1px solid var(--bk-glow);
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.project {
  margin-top: 20rem;

  &__title {
    display: flex;
    justify-content: center;
    font-size: var(--fz-h2);
    position: relative;
    animation: zoomIn 0.5s ease-out forwards;

    &::after {
      position: absolute;
      content: "";
      width: 5rem;
      height: 5px;
      border-radius: 5px;
      bottom: -1rem;
      background: var(--accent);
    }
  }

  &__list {
    margin-top: 4rem;
    animation: fadeFromLeft 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: var(--bk-card);
    padding: 2rem;
    border-radius: 2rem;
    gap: 3rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    transform: translateY(0);
    transition:
      border 0.3s ease,
      transform 0.3s ease;

    &:hover {
      border: 1px solid rgba(var(--bk-accent), 0.3);
      transform: translateY(-2px);
    }

    img {
      width: 100%;
      height: auto;
      max-width: 50rem;
      border-radius: 2rem;
      box-shadow: 0 0 3rem 0 var(--bk-main);
    }
  }

  &__text {
    h3 {
      font-size: 2.5rem;
      margin-bottom: 0.8rem;
    }

    font-size: 1.8rem;
    max-width: 60rem;
  }

  &__stacklist {
    display: flex;
    gap: 1rem;
  }

  &__elem {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid transparent;
    background: var(--bk-card);
    padding: 0.5rem;
    border-radius: 1.3rem;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid #505050;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1.3rem;
    background: rgba(var(--bk-accent), 0.3);
    max-width: 12rem;
    width: 100%;
    transition: background 0.3s ease;

    img {
      max-width: 2rem;
      margin-right: 2px;
    }
  }
}

.contact {
  margin-top: 12rem;
  display: flex;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: var(--fz-h2);
    margin-bottom: 4rem;
    position: relative;
    animation: zoomIn 0.5s ease-out forwards;

    &::after {
      position: absolute;
      content: "";
      width: 5rem;
      height: 5px;
      border-radius: 5px;
      bottom: -1rem;
      background: var(--accent);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    max-width: 25rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgb(var(--bk-accent));
    transition: background 0.3s ease;

    img {
      max-width: 2rem;
      margin-right: 2px;
    }

    &:hover {
      background: rgba(var(--bk-accent), 0.8);
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-top: 2rem;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 99px;

    img {
      max-width: 2rem;
      margin-right: 3px;
    }
  }
}

.footer {
  background-color: var(--bk-header);

  &__container {
    margin-top: 12rem;
    padding: 10px 20px;
  }

  &__info {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero__avatar {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    &__burger {
      display: block;
      position: absolute;
      right: 5rem;
      bottom: 0.5rem;
    }

    &__list {
      display: none;
      position: absolute;
      align-items: center;
      flex-direction: column;
      background-color: var(--bk-header);
      padding: 2rem;
      width: 100%;
      top: 100%;
      left: 0;
      gap: 1rem;
      font-size: 2rem;
    }

    &__list.active {
      display: flex;
    }
  }
}

@media (max-width: 425px) {
  .project__title,
  .contact__title {
    text-align: center;
  }

  .hero {
    &__title {
      font-size: 4rem;
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 320px) {
  .skill__info {
    grid-template-columns: 1fr;
  }
}

[data-theme="light"] {
  --bk-header: rgba(235, 235, 235, 0.7);
  --bk-main: #f2f2f2;
  --color-primary: #161616;
  --bk-card: #fff;
  --bk-stack: #ebebeb;
}

[data-theme="light"] .telegram,
[data-theme="light"] .github,
[data-theme="light"] .email {
  filter: invert(1);
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
